{% extends 'base.html' %}
{% block page_title %}User Exams{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header font-weight-bold">
            User Exams
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-sm table-bordered mb-0">
                    <tr>
                        <th style="width: 1%">#</th>
                        <th>User</th>
                        <th>Title</th>
                        <th>Created</th>
                        <th>Action</th>
                    </tr>
                    {% for exam in user_exams %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ exam.user }}</td>
                            <td>{{ exam.exam.title }}</td>
                            <td>{{ exam.created }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary"
                                   href="{% url 'quiz:user_exam_detail' exam.id %}">List</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>


{% endblock %}