{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"/>
    <title>{% block page_title %}{{ page_title }}{% endblock %}</title>
</head>
<body>
{% include 'top_nav.html' %}
<div class="container pt-5">
    {% block content %}{% endblock %}
</div>

{% bootstrap_jquery %}
<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>