{% extends 'base.html' %}
{% block page_title %}Questions{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header font-weight-bold">
            Questions
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-sm table-bordered mb-0">
                    <tr>
                        <th style="width: 1%">#</th>
                        <th>Title</th>
                        <th>Choices</th>
                        <th>Created</th>
                    </tr>
                    {% for qs in questions %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ qs.title }}</td>
                            <td>
                                <ul class="p-0 ml-4">
                                    {% for ch in qs.choice_question.all %}
                                        <li>{{ ch }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ qs.created }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}